a:link {
 color: #FF0000;
}

a:visited {
 color: #08C80B;
}

a:hover {
 color: #EEE234;
}

.classone {
  color: #161964;
  background-color: #EDEDED;
}

.classtwo{
  color: #161964;
  background-color: #E2E3FD;
}

.classthree{
  color: #FF0A16;
  background-color: #FDEBEC;
}

.classfour{
  color: #4E2E07;
  background-color: #FDF3E7;
}

.classtext{
  color: #303030;
  background-color: #EDEDED;
}

.classfooter{
  color: #FFFFFF;
  background-color: #000000;
}

#divone{
  color: #303030;
  background-color: #EDEDED;
}

.spanone{
  color: #4149E1;
}
